* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
  background-color: #ffffff;
  border-bottom: 1px solid rgb(234, 234, 234);
  /* padding-bottom: 10px; */
  /* box-shadow: 0px 1px 10px 1px grey; */
  /* margin-bottom: 10px; */
  padding: 3px;
  position: sticky;
  top: 0;
  z-index: 1;
}

nav {
  max-width: 1400px;
  margin: 0 auto !important;
}

header li {
  margin: 0 10px;
}

header a {
  color: rgb(59, 59, 59) !important;
}
header a:hover {
  color: #e46d29 !important;
}
.navbarDropdownOptions:hover {
  background-color: #e46d29;
  color: white !important;
}

.navbarLogo {
  color: #e46d29 !important;
}

.navbarButtons {
  color: #e46d29;
  background-color: #ffffff;
  /* border: 1px solid #e46d29; */
  border: none;
  margin-right: 15px;
  border-radius: 25px;
  width: 180px;
  /* font-weight: bold; */
  padding: 4px;
  /* font-size: 14px; */
  box-shadow: 0px 0px 10px rgb(192, 192, 192);
}

.navbarButtons:hover {
  border: 1px solid #e46d29;
}

/* .navbarSearchSection {
  display: flex;
  justify-content: flex-end;
}
.searchInputField {
  font-family: 14px !important;
}
.navbarSearchBtn {
  background-color: white !important;
  color: #e46d29;
  margin-right: 30px;
  border: 1px solid #e46d29;
  font-weight: normal;
}
.searchInputField::placeholder {
  font-size: 14px;
  color: #d6d6d6;
} */

.homePageTopSection {
  max-width: 1100px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 0px;
  margin: 0px auto 30px;
}
.homePageTopSection > section {
  width: 50%;
}
.homePageTopSection > section > h1 {
  color: #e46d29;
  font-weight: bold;
  font-size: 38px;
  margin-bottom: 20px;
}
.homePageTopSection > section > p {
  font-size: 22px;
  margin-bottom: 20px;
}
.homePageTopSection > section > button {
  background-color: #e46d29;
  color: white;
  border-radius: 10px;
  border: none;
  box-shadow: 0px 0px 10px rgb(192, 192, 192);
  padding: 10px;
  width: 150px;
  font-weight: bold;
  font-size: 18px;
  background: linear-gradient(to right, #e46d29, #e44329);
}
.homePageTopSection > section > button:hover {
  background: linear-gradient(to left, #e46d29, #e44329);
}
.homePageTopSection > section > img {
  width: 90%;
}
.whyUsSection,
.partnersSection {
  background-color: #faf7f5;
  padding: 50px 30px 50px 30px;
  margin-bottom: 50px;
}
.whyUsSection > main {
  max-width: 1140px;
  margin: 0 auto;
}
.whyUsSection > main > div {
  text-align: center;
  width: 50%;
  margin: 0 auto 40px;
}
.whyUsSection > main > div > h1 {
  color: #e46d29;
  font-weight: bold;
  font-size: 32px;
  margin-bottom: 10px;
}
.whyUsSection > main > div > p {
  font-size: 16px;
}
.whyUsSection > main > section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.whyUsSection > main > section > div {
  width: 355px;
  border-radius: 15px;
  background-color: white;
  padding: 30px 30px 50px;
  margin: 15px;
  box-shadow: 0px 0px 5px rgb(192, 192, 192);
}
.whyUsSection > main > section > div > section {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.whyUsSection > main > section > div h2 {
  color: #e46d29;
  font-size: 20px;
  font-weight: bold;
  margin: 0 0 0 5px;
}
.whyUsSection > main > section > div ul {
  list-style-position: inside;
}
.whyUsSection > main > section > div li {
  margin-bottom: 15px;
}

.partnersSection > h1 {
  color: rgb(61, 59, 59);
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}
.partnersSection > h5 {
  color: #e46d29;
  margin: 0 auto;
  width: 40%;
  text-align: center;
  font-weight: bold;
  margin-bottom: 30px;
}
.partnersSection > div {
  display: flex;
  justify-content: center;
  align-items: center;
}
.partnersSection > div > div {
  width: 125px;
  margin: 0 20px;
}
.partnersSection img {
  width: 100%;
  cursor: pointer;
  filter: grayscale(100%);
}
.partnersSection img:hover {
  filter: grayscale(0);
}

.whatWeDoSection {
  padding: 10px 30px 50px;
}
.whatWeDoSection > h1 {
  color: #e46d29;
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 30px;
}
.whatWeDoSection > section {
  max-width: 1140px;
  margin: 0 auto;
}
.whatWeDoSection div {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border: 1px solid rgb(214, 212, 212);
  padding: 20px;
  height: 275px;
}
.whatWeDoSection img {
  width: 50px;
  height: 40px;
}
.whatWeDoSection h3 {
  margin: 8px 0 12px;
  font-size: 20px;
  color: #e46d29;
  font-weight: bold;
  text-align: center;
}
.whatWeDoSection p {
  margin-bottom: 8px;
  text-align: center;
  font-size: 14px;
  color: #443404;
}

.mapHomePageSection {
  background-color: #faf7f5;
  padding: 50px 0;
}
.mapHomePageSection > section {
  max-width: 1140px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mapHomePageSection .mapDiv1 {
  width: 45%;
  padding: 0 15px;
}
.mapHomePageSection .mapDiv2 {
  width: 55%;
}
.mapHomePageSection h2 {
  font-size: 32px;
  font-weight: bold;
  color: #e46d29;
  margin-bottom: 10px;
}
.mapHomePageSection h3 {
  font-size: 21px;
  color: #443404;
  margin-bottom: 30px;
}
.mapHomePageSection span {
  color: #e46d29;
  text-decoration: underline;
}
.mapHomePageSection p {
  width: 85%;
}

/* //// Sign Up Page //// */

.signUpMainSection {
  background-color: whitesmoke;
  padding: 80px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.signUpMainSection > main {
  border-radius: 20px;
  width: 670px;
  box-shadow: 0px 0px 10px grey;
}
.signUpMainSection > main > section {
  padding: 40px 80px;
  background-color: white;
  border-radius: 20px 20px 0 0;
}
.signUpMainSection > main > section > div {
  margin-bottom: 30px;
}
.signUpMainSection > main > section h3 {
  font-size: 26px;
  color: #e46d29;
  font-weight: bold;
  margin-bottom: 14px;
  text-align: center;
}
.signUpMainSection > main > section p {
  text-align: center;
  margin-bottom: 12px;
}
.signUpMainSection .separatorDiv {
  width: 40px;
  border-top: 2px solid #e46d29;
  margin: 0 auto;
}
.signUpInputs > form {
  text-align: center;
}
.signUpInputs input,
.signUpInputs select {
  padding: 15px;
  border-color: #e46d29;
  background-color: #f6f2ef;
  height: 50px;
}
.signUpInputs .combineInput {
  /* padding: 14px; */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 16px;
}
.signUpInputs button {
  background-color: #e46d29;
  color: white;
  border-radius: 10px;
  border: none;
  box-shadow: 0px 0px 10px rgb(192, 192, 192);
  padding: 10px;
  width: 150px;
  font-weight: bold;
  font-size: 14px;
  background: linear-gradient(to right, #e46d29, #e44329);
}
.signUpInputs button:hover {
  background: linear-gradient(to left, #e46d29, #e44329);
}

.signUpMainSection > main > div {
  padding: 20px;
  border-radius: 0 0 20px 20px;
  border-top: 1px solid #d6d6d6;
  text-align: center;
}
.signUpMainSection > main > div > span {
  font-weight: bold;
}
.signUpMainSection > main > div > button {
  margin-left: 20px;
  background-color: white;
  border-radius: 12px;
  box-shadow: 0px 0px 2px #b4a49b;
  border: none;
  padding: 11px 30px;
  font-size: 14px;
  font-weight: bold;
  color: #e46d29;
}
.signUpMainSection > main > div > button:hover {
  background-color: #e46d29;
  color: white;
}

/* //// Footer //// */

.footer1 {
  background-color: #352b24;
  color: white;
  padding: 25px 5px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.footer1 > div {
  display: flex;
  align-items: center;
}
.footer1div1 {
  width: 60%;
  justify-content: center;
}
.footer1div2 {
  width: 40%;
}
.footer1 h3 {
  font-size: 20px;
  margin: 0px 25px;
}
.footer1div2 > div > div {
  margin: 0px 10px;
}
.footer1div2 i {
  font-size: 25px;
  cursor: pointer;
}

.footer2 {
  padding: 60px 0;
  background-color: #26201c;
  color: white;
}
.footer2 > section {
  width: 1140px;
  margin: 0 auto 30px;
  display: flex;
}
.footer2 > section > div {
  width: 25%;
  padding: 0px 15px;
}
.footer2div1 {
  display: flex;
  flex-direction: column;
}
.footer2div1 > button {
  background-color: transparent;
  color: white;
  border: 1px solid white;
  border-radius: 8px;
  margin: 6px 0px;
  font-weight: bold;
  padding: 8px;
}
.footer2div1 > button:hover {
  background-color: #e46d29;
  border: none;
}
.footer2div1 > p {
  font-size: 12px;
  margin: 0px 0px 12px;
  padding: 10px 0px 0px;
  color: #b4a49b;
}
.footer2div1 > p > span {
  color: #e46d29;
  text-decoration: underline;
  cursor: pointer;
}
.footer2div2 > h4 {
  font-size: 20px;
  font-weight: bold;
  margin: 0 0 14px;
}
.footer2div2 div {
  padding: 4px 0;
}
.footer2 a {
  color: white;
  font-size: 15px;
}
.footer2 a:hover {
  text-decoration: none;
  color: #e46d29;
}
.footer2 > div {
  border-top: 1px solid #b4a49b;
  padding-top: 30px;
  margin: 30px auto 0;
  color: #b4a49b;
  max-width: 1110px;
  font-size: 15px;
  text-align: center;
}
.footer2 > div .divider {
  margin: 0px 10px;
}

.homePageCarousel button span {
  background-color: black !important;
  /* padding: 15px; */
  border-radius: 50%;
}

.homeBannerSection {
  padding: 15px;
}
.homeBannerSection > div {
  height: 200px;
  background-image: url("../images/banners/banner1.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.homeBannerSection div h3 {
  color: white;
}
.homeBannerSection div button {
  color: white;
  width: 180px;
  border: 1px solid white;
  border-radius: 15px;
  font-size: 14px;
}
.homeBannerSection div button:hover {
  color: #e46d29;
  background-color: white;
  font-weight: bold;
  letter-spacing: 1px;
}

/* //// Store Page //// */

.mainSectionStoreForYou {
  background-color: whitesmoke;
}
.mainSectionStoreForYou > section {
  padding: 30px 0px;
  width: 80%;
  /* border: 1px solid #d6d6d6; */
}
.storePageBanner {
  margin-bottom: 30px;
}
.bundleDealsHeading {
  color: #555;
  text-align: center;
  margin: 0 auto;
  font-weight: bold;
}
.storePageDealSection {
  width: 70%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 30px;
}
.storePageDealSection > div {
  width: 30%;
}
.storePageDealSection img {
  width: 100%;
}
.categoriesMainSection h5 {
  color: #e46d29;
  font-size: 15px;
  cursor: pointer;
}
.categoriesMainSection h5:hover {
  text-decoration: underline;
}
.categoriesMainSection > div {
  background-color: white;
}
.categoriesContentContainer {
  overflow-x: scroll;
}
.categoriesContentContainer > div {
  border: 1px solid #d6d6d6;
  color: darkgray;
  cursor: pointer;
}
.categoriesContentContainer > div:hover {
  color: #e46d29;
  border: 1px solid #e46d29;
}
.categoriesContentContainer div a {
  color: #e46d29 !important;
}

.storeForYouHeading {
  color: #e46d29;
  font-weight: bold;
  font-size: 24px;
}
.storeContent {
  background-color: white;
  width: 49%;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 15px;
  border: 1px solid #d6d6d6;
  box-shadow: 0px 0px 3px grey;
}
.storeContent h5 {
  color: #e46d29;
  font-weight: bold;
  font-size: 18px;
  cursor: pointer;
  text-decoration: underline;
}
.storeContent p {
  text-decoration: underline;
  color: #e46d29;
  font-size: 12px;
}
.storeContent p:hover {
  font-weight: bold;
}
.storeContent p a {
  color: #e46d29;
}
.storeLogo {
  width: 100px;
  height: 50px;
  margin-right: 15px;
}
.storeContentProduct {
  margin: 30px auto 10px;
}
.storeContentProduct div {
  width: 30%;
}
.storeContentProduct span {
  font-size: small;
  color: #352b24;
}
.storeContent section div img {
  width: 100%;
}

/* //// Store => Categories Page //// */

.categoriesHeading {
  width: 1200px;
  margin: 40px auto;
  padding: 20px;
  box-shadow: 0px 0px 5px grey;
}
.categoriesHeading h2 {
  color: #555;
  font-weight: bold;
}
.categoriesHeading button {
  padding: 6px;
  font-size: 14px;
  width: 120px;
  border: none;
  border-radius: 20px;
  color: #e46d29;
  box-shadow: 0px 0px 5px grey;
  background-color: white;
}
.categoriesHeading button:hover {
  background-color: #e46d29;
  color: white;
}
.categoryBannerCards {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1100px;
  margin: 50px auto;
}
.categoryBannerCards > div {
  width: 30%;
}
.categoryBannerCards img {
  width: 100%;
}
.categoryMainSection {
  background-color: #faf7f5;
  padding: 50px 0;
}
.categoryMainSection > h1 {
  color: #555;
  font-size: 26px;
  max-width: 1180px;
  margin: 0 auto 30px;
  font-weight: bold;
}
.categoryProductsSection {
  max-width: 1180px;
  margin: 0px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.categoriesCard {
  background-color: white;
  border-radius: 12px;
  width: 100%;
  box-shadow: 2px 2px 5px grey;
  display: flex;
  margin-bottom: 30px;
}
.categoriesCard > section {
  width: 200px;
  border-right: 1px solid #d6d6d6;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.categoriesCard section img {
  width: 40px;
  height: 40px;
}
.categoriesCard h5 {
  font-size: 12px;
  font-weight: bold;
  margin: 0;
  margin-top: 10px;
  text-align: center;
  color: #e46d29;
}
.categoriesCard > div {
  display: flex;
  align-items: center;
  padding: 20px 0;
}
.categoriesCard > div > div {
  width: 100px;
  margin: 0 10px;
}
.categoriesCard > div img {
  width: 100%;
}
.categoryButtonDiv {
  padding: 20px 15px 20px 5px !important;
}
.categoryButtonDiv > button {
  border: none;
  border-radius: 15px;
  font-size: 13px;
  width: 140px;
  padding: 8px;
  box-shadow: 0px 0px 5px grey;
  color: #e46d29;
  background-color: white;
}
.categoryButtonDiv > button:hover {
  background-color: #e46d29;
  color: white;
}
.exclusiveOffer {
  background: radial-gradient(#fff, #ffc7af);
  padding: 30px 0;
}
.exclusiveOffer > section {
  max-width: 1080px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
}
.exclusiveOffer > section > div {
  display: flex;
  align-items: center;
}
.exclusiveOffer .offerDiv1 {
  width: 40%;
  text-align: center;
}
.exclusiveOffer .offerDiv2 {
  width: 60%;
}
.exclusiveOffer img {
  width: 300px;
}
.exclusiveOffer h1 {
  font-weight: bold;
  color: #555;
}
.exclusiveOffer p {
  font-size: 13px;
  color: #555;
}
.exclusiveOffer button {
  background-color: white;
  border-radius: 15px;
  padding: 6px;
  width: 120px;
  font-size: 13px;
  border: 1px solid white;
  box-shadow: 0px 0px 5px grey;
}
.exclusiveOffer button a {
  color: #e46d29;
}
.exclusiveOffer button:hover {
  border: 1px solid #e46d29;
}
.exclusiveOffer button a:hover {
  text-decoration: none;
}

/* //// Products Page //// */

.productsOnSale {
  margin-top: 50px;
}
.productsOnSale > h2 {
  font-weight: bold;
  color: #555;
  font-size: 24px;
  margin-bottom: 0;
  max-width: 1200px;
  margin: 0 auto;
}
.productsSaleCards {
  margin-top: 20px;
  max-width: 1200px;
}
.productsSaleCards > div {
  margin: 0 5px;
  transition: transform 0.5s;
  cursor: pointer;
}
.productsSaleCards > div:hover {
  transform: translateY(-3px);
}
.products {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.productMainDiv {
  display: flex;
  flex-direction: column;
  width: 23%;
  border-radius: 5px;
  background-color: white;
  height: 375px;
  transition: transform 0.5s;
  box-shadow: 0px 0px 5px grey;
  /* border: 1px solid #B4A49B; */
  margin: 0px 15px 20px 0;
}
.productMainDiv:hover {
  transform: translateY(-5px);
  box-shadow: 0px 0px 10px grey;
}
.productMainDiv img {
  border-radius: 5px;
}
.productFooter {
  padding: 10px;
}
.productMainDiv h5 {
  margin-bottom: 10px;
  color: #555;
}
.productMainDiv p {
  font-size: 12px;
  color: #555;
}
.productMainDiv p s {
  color: red;
}
.productMainDiv button {
  color: #e46d29;
  background-color: white;
  box-shadow: 0px 0px 5px grey;
  border: none;
  border-radius: 15px;
  padding: 5px;
  width: 100px;
  font-size: 12px;
}
.productMainDiv button:hover {
  color: white;
  background-color: #e46d29;
}

/* //// Product Details Page //// */

.productDetailsMainContainer {
  max-width: 1100px;
  border-radius: 15px;
  box-shadow: 0px 0px 5px #e46d29;
  margin: 30px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 400px;
  background-color: white;
}
.productDetailsHeading {
  margin: 0 auto;
}
.productDetailsMainContainer > section {
  width: 50%;
  padding: 20px;
}
.productDetailsMainContainer img {
  width: 85%;
}
.productDetailsContent {
  width: 50% !important;
  border-left: 2px solid #e46d29;
  padding-left: 30px;
}
.productDetailsContent > h3 {
  font-size: 26px;
  color: #555;
  margin-bottom: 15px;
}
.productDetailsContent > h5 {
  font-size: 18px;
  color: #555;
  font-weight: bold;
  margin-bottom: 15px;
}
.productDetailsContent > h5 > s {
  color: #ff0000;
  font-weight: normal;
  font-size: 14px;
}
.productDetailsContent > p {
  display: flex;
}
.productDetailsContent > p > span {
  width: 30px;
  padding: 2px;
  background-color: #d6d6d6;
  text-align: center;
  cursor: pointer;
}
.productDetailsContent > p > .counterSpan {
  background-color: #faf7f5;
  width: 50px;
  cursor: text;
}
.productDetailsContent > button {
  width: 100%;
  border: 2px solid #e46d29;
  color: #e46d29;
  background-color: white;
  padding: 6px;
}
.productDetailsContent > button:hover {
  box-shadow: 0px 0px 5px grey;
  background: linear-gradient(to left, #e46d29, #e44329);
  color: white;
}
.productDetailsContent > h6 {
  color: #555;
  font-size: 16px;
  font-weight: bold;
}
.productDetailsContent li {
  list-style-position: inside;
  color: #555;
  font-size: 15px;
  margin-bottom: 5px;
}

/* //// Add to Cart Fixed Icon //// */

.addToCartPageDirector {
  position: fixed;
  right: 0;
  top: 75%;
  border-radius: 50% 0 0 50%;
  box-shadow: -2px 0px 5px grey;
  padding: 25px 30px;
  background-color: #e46d29;
  cursor: pointer;
  transition: height 0.5s;
}
.addToCartIcon {
  font-size: 24px;
  color: white;
}
.addToCartPageDirector:hover {
  width: 100px;
}

/* //// Checkout First Page //// */

.checkOutMainSection {
  margin: 50px 0;
  background-color: #f4f4f4;
}
.checkOutMainSection > div {
  max-width: 1188px;
  margin: 0 auto;
  display: flex;
}
.ordersContainer {
  width: 66%;
  padding: 30px 10px;
}
.ordersContainer > div {
  background-color: white;
  border-radius: 15px;
  box-shadow: 0px 0px 5px #757575;
  margin-bottom: 25px;
}
.selectAllOrders {
  padding: 15px;
  display: flex;
  justify-content: space-between;
}
.selectAllOrders > div {
  display: flex;
  align-items: center;
}
.selectAllOrders input {
  margin-right: 15px;
}
.selectAllOrders p {
  margin: 0;
  color: #757575;
  font-size: 12px;
}
.selectAllOrders i {
  margin-right: 6px;
}
.orderDiv > div {
  display: flex;
  align-items: center;
  padding: 15px;
}
.orderStoreNameDiv {
  padding-bottom: 20px !important;
}
.orderStoreNameDiv i {
  color: #b4a49b;
}
.ordersContainer input {
  width: 18px;
  height: 18px;
}
.orderDiv h5 {
  margin: 0 8px 0 16px;
  font-size: 17px;
}
.orderCardImgDiv {
  margin: 0 16px;
}
.orderCardImgDiv img {
  width: 100px;
  height: 100px;
}
.orderCardDetails {
  align-self: flex-start;
}
.orderCardDetails p {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 4px;
  color: #555;
}
.orderCardDetails small {
  color: #757575;
  font-size: 12px;
}
.orderCardPriceDiv {
  padding-left: 10px;
  width: 150px;
  align-self: flex-start;
}
.orderCardPriceDiv p {
  color: #e46d29;
  margin-bottom: 4px;
}
.orderCardPriceDiv small {
  display: block;
  color: black;
  margin-bottom: 5px;
}
.orderCardPriceDiv small s {
  color: #757575;
}
.orderCardPriceDiv i {
  color: #757575;
  margin-right: 8px;
  font-size: 16px;
}
.orderCardIncDec {
  padding-right: 30px;
  align-self: flex-start;
}
.orderCardIncDec p {
  display: flex;
}
.orderCardIncDec small {
  display: block;
  background-color: #EFF0F5;
  padding: 4px;
  width: 30px;
  text-align: center;
  font-size: 13px;
  color: #555;
}
.orderCardIncDec span {
  display: block;
  background-color: white;
  width: 40px;
  color: #757575;
  text-align: center;
  font-size: 14px;
  padding: 4px;
}

.orderSummarySection {
  width: 33%;
  padding: 30px 10px;
}
.orderSummarySection > div {
  background-color: white;
  box-shadow: 0px 0px 5px #757575;
  border-radius: 15px;
  padding: 15px;
}
.orderSummarySection h1 {
  font-size: 20px;
  margin-bottom: 18px;
}
.orderSummarySection > div > div {
  display: flex;
  justify-content: space-between;
  margin-bottom: 13px;
}
.orderSummarySection p {
  font-size: 15px;
  margin-bottom: 0;
}
.OSSgreyDetail {
  color: #757575;
  font-size: 13px !important;
}
.orderSummarySection input {
  font-size: 14px;
  padding: 6px 12px;
  width: 100%;
  margin-right: 5px;
  outline: none;
  color: #757575;
}
.orderSummarySection > div > div > button {
  background-color: white;
  border-radius: 5px;
  font-size: 12px;
  padding: 4px;
  width: 100px;
  border: none;
  /* border: 1px solid white; */
  box-shadow: 0px 0px 5px #757575;
  color: #e46d29;
}
.orderSummarySection > div > div > button:hover {
  box-shadow: 0px 0px 10px #e46d29;
  /* border: 1px solid #e46d29; */
  text-decoration: underline;
}
.orderSummarySection h5 {
  color: #e46d29;
  font-size: 17px;
}
.orderSummarySection > div > button {
  background: linear-gradient(to right, #e46d29, #e44329);
  width: 100%;
  padding: 8px;
  color: white;
  border-radius: 5px;
  border: none;
  box-shadow: 0px 0px 5px grey;
}
.orderSummarySection > div > button:hover {
  background: linear-gradient(to left, #e46d29, #e44329);
  box-shadow: 2px 2px 5px #757575;
} 

/* //// Confirm CheckOut //// */
.confirmOrderContainer {
  box-shadow: 0px -2px 5px #b4a49b !important;
}
.confirmDiv1 {
  width: 60%;
}
.confirmDiv2 {
  width: 20%;
}
.confirmDiv3 {
  width: 20%;
}
.confirmDiv3 > p {
  width: 100%;
  text-align: right;
}
.orderStoreNameDiv > h6 {
  font-size: 13px;
  font-weight: bold;
  margin-bottom: 0;
  color: #555;
}
.confirmOrderNameDiv {
  padding: 10px 15px !important;
  background-color: #EFF0F5;
  border-radius: 15px 15px 0 0;
  justify-content: space-between;
}
.confirmOrderNameDiv p {
  margin: 0;
  font-size: 11px;
  color: #757575;
}
.confirmOrderNameDiv p b {
  font-size: 12px;
  color: black;
  margin-left: 5px;
}
.confirmDeliveryButton {
  flex-direction: column;
  width: 50%;
}
.confirmDeliveryButton p {
  color: #555;
  font-size: 12px;
  width: 100%;
  text-align: left;
  margin-bottom: 8px;
}
.confirmDeliveryButton > div {
  border: 1px solid #e46d29;
  padding: 10px;
  border-radius: 5px;
  background-color: #e46e291a;
  width: 60%;
  height: 80px;
}
.confirmDeliveryButton > div > div {
  padding-left: 10px;

}
.confirmDeliveryButton i {
  color: #e46d29;
  font-size: 18px;
}
.confirmDeliveryButton p {
  font-size: 14px;
  color: black;
}
.confirmDeliveryButton small {
  display: block;
  color: #757575;
  line-height: 1rem !important;
}
.confirmOrderDetailEnd {
  padding: 0px 10px 10px 15px !important; 
  display: flex;
  width: 59%;
}
.confirmOrderDetailEnd > div {
  width: 100px;
  height: 100px;
}
.confirmOrderDetailEnd img {
  width: 100%;
  height: 100%;
}
.confirmOrderDivContent {
  margin: 0px 15px;
}
.confirmOrderPriceDiv {
  width: 20%;
}
.confirmOrderQtyDiv {
  width: 20%;
  text-align: right;
  align-self: flex-start;
}
.confirmOrderQtyDiv > p {
  color: #757575;
  font-size: 14px;
}
.confirmOrderQtyDiv > p > b {
  font-weight: normal;
  font-size: 16px;
  color: black;
}
.confirmSummarySection {
  width: 33%;
  padding: 30px 10px; 
}
.confirmSummarySection > div {
  background-color: white;
  box-shadow: 0px 0px 5px #757575;
  padding: 15px;
  border-radius: 15px;
}
.confirmSummarySection h1 {
  font-size: 20px;
  margin-bottom: 18px;
}
.confirmSummarySection label {
  display: flex;
  align-items: center;
}
.confirmSummarySection label input,
.confirmSummarySection label textarea {
  width: 100%;
  margin-right: 5px;
  border: none;
  padding: 3px 5px; 
  font-size: 13px;
  background-color: white;
  color: #555 !important;
  outline: none;
}
.confirmSummarySection label .titleInput {
  font-size: 14px;
  font-weight: bold;
}
.confirmSummarySection label textarea {
  font-weight: normal;
  font-size: 12px;
  height: 60px;
  border: none;
}
.confirmSummarySection label i {
  color: #e46d29;
  margin-right: 5px;
  font-size: 14px;
}
.confirmSummarySection label button {
  color: blue;
  background-color: white;
  border: none;
  font-size: 13px;
}
.confirmSummarySection label button:hover {
  text-decoration: underline;
}
.confirmSummarySection form {
  margin-bottom: 20px;
}
.shippingBillingDiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}
.shippingBillingDiv span {
  font-size: 12px;
  color: #757575;
  margin: 0 5px 0 0 ;
}
.shippingBillingDiv p {
  font-size: 14px;
  color: black;
  margin: 0;
}
.activeInput {
  border-bottom: 1px solid #757575 !important;
}

.proceedToPayModalContent h1 {
  font-size: 22px;
  font-weight: bold;
  text-align: center;
  margin: 20px auto;
  color: #e46d29;
}
.proceedToPayModalContent h2 {
  font-size: 18px;
  color: #555;
  font-weight: normal;
  text-align: center;
  margin-bottom: 25px;
}
.proceedToPayModalContent button {
  background: linear-gradient(to right, #e46d29, #e44329);
  border: none;
  box-shadow: 0px 0px 5px #757575;
  width: 150px;
  color: white;
  padding: 5px;
}
.proceedToPayModalContent button:hover {
  background: linear-gradient(to left, #e46d29, #e44329);
}


/* //// Manage Account //// */
.manageAccountMainSection {
  margin: 50px 0;
  background-color: #f4f4f4;
}
.manageAccountMainSection > div {
  max-width: 1100px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}
.manageAccountMainSection h2 {
  font-size: 20px;
  color: #555;
  margin: 15px 0;
}
.personalProfile {
  background-color: white;
  border-radius: 15px;
  box-shadow: 0px 0px 5px #757575;
  margin-bottom: 25px;
  padding: 16px;
  min-height: 215px;
  width: 29%;
}
.personalProfile p {
  color: #424242;
  font-size: 13px;
  margin-bottom: 8px;
}
.personalProfileHeader {
  color: #212121;
  font-size: 15px !important;
  margin-bottom: 20px !important;
}
.dividerDiv {
  color: #DADADA;
}
.editOption {
  color: #1A9CB7 !important;
  font-size: 11px;
}
p[class~="editOption"] {
  margin-top: 25px;
  font-size: 13px;
}
.personalProfile2 {
  margin-left: 20px;
  width: 69%;
  position: relative;
  display: flex;
}
.personalProfile2 > section {
  width: 50%;
}
.rightSectionPersonalProfile {
  margin-top: 43px;
  padding-left: 16px;
}
.defaultPara {
  color: #757575 !important;
  font-size: 11px !important;
  margin-bottom: 15px !important;
}
.manageAccountUserName {
  color: #212121 !important;
  font-weight: bold;
  margin-bottom: 10px !important;
}
.addressDiv p {
  font-size: 12px !important;
  margin-bottom: 4px !important;
}
.separatorLineDiv {
  position: absolute;
  height: 90%;
  top: 11px;
  left: 50%;
  border-left: 1px solid #DADADA;
}
.recentOrdersMainContainer {
  min-height: auto;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
}
.recentOrdersMainContainer .personalProfileHeader {
  margin-bottom: 16px !important;
  padding-left: 16px !important;
}
.recentOrdersMainContainer table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}
.recentOrdersMainContainer tr {
  width: 100%;
  border-bottom: 2px solid #eff0f5;
}
.ordersFirstRow {
  background-color: #FAFAFA;
}
.recentOrdersMainContainer table tr td {
  font-size: 14px;
  color: #212121;
  padding: 16px 20px;
  width: 215px;
}
.ordersFirstRow td {
  color: #757575 !important;
}
.ordersItems {
  width: 310px !important;
}
.ordersTotal {
  text-align: right;
}
.ordersEmpty {
  width:  auto !important;
  text-align: right;
  color: #1A9CB7 !important;
}